@model IEnumerable<VeterinariaMVC.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Mascotas</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Agregar Mascota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.MascotaId" class="btn btn-success">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.MascotaId" class="btn btn-primary">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.MascotaId" class="btn btn-danger">Quitar</a>
            </td>
        </tr>
}
    </tbody>
</table>
